---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob('../posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.category).flat())];

const pageTitle = "カテゴリ一覧";
---

<BaseLayout pageTitle = {pageTitle}>
 <div class="categories">
  {tags.map((category) => (
   <p class="category"><a href={ `/categories/${category}` }>{category}</a></p>
   ))}
 </div>

</BaseLayout>

<style>
 a {
   color: #00539F;
 }

 .categories {
   display: flex;
   flex-wrap: wrap;
 }

 .category {
   margin: 0.25em;
   border: dotted 1px #a1a1a1;
   border-radius: .5em;
   padding: .5em 1em;
   font-size: 1.15em;
   background-color: #F8FCFD;
 }
</style>