---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle ="私の学習ブログ";
const allPosts = await Astro.glob('../pages/posts/*.md');
---
<BaseLayout pageTitle = {pageTitle} >
  <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
  {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
</BaseLayout>
